[submodule "deps/secp256k1"]
	path = deps/secp256k1
	url = https://github.com/nervosnetwork/secp256k1
[submodule "deps/ckb-c-stdlib"]
	path = deps/ckb-c-stdlib
	url = https://github.com/nervosnetwork/ckb-c-stdlib
[submodule "deps/mbedtls"]
	path = deps/mbedtls
	url = https://github.com/nervosnetwork/mbedtls
	branch = master
[submodule "deps/blst"]
	path = deps/blst
	url = https://github.com/cryptape/blst.git
[submodule "deps/ckb-c-stdlib-202106"]
	path = deps/ckb-c-stdlib-202106
	url = https://github.com/XuJiandong/ckb-c-stdlib.git
	branch = add-identity
[submodule "deps/libecc"]
	path = deps/libecc
	url = https://github.com/contrun/libecc.git
	branch = blank_external_dependencies
[submodule "deps/libecc-optimized"]
	path = deps/libecc-optimized
	url = https://github.com/contrun/libecc.git
	branch = benchmark-signature-verification
[submodule "deps/ckb-lua"]
	path = deps/ckb-lua
	url = https://github.com/contrun/ckb-lua.git
	branch = simple-user-defined-token
